Makefile
Makefile.Debug
Makefile.Release
chotrainer/chotrainer
chotrainer/release/
chotrainerCreator/chotrainerCreator
chotrainerCreator/release/
core/libcore.so*
core/release/
intl/*.qm
moc/
obj/
qrc_core.cpp
qrc_intl.cpp
qrc_res.cpp
qrc_test.cpp
test/release/
test/target_wrapper.sh
test/test
